
.o-col-background {
	background: #ffffff;
}
	

.o-bg-img{
background-image: url("../images/sayagata.png");
}
.o-brand-bg{
	background-color:#4file:///C:/Users/Daddy/Desktop/Bootcamp/Portfolio/assignment2/assets/images/RPG%20Game.jpgaaaa5;
}
.o-footer{
	height : 75px;
	margin: 0 auto;
	background-color: #666666;
	border-top: 4px solid #4aaaa5	
}
.op-box{
	margin-top:25px;
}
.oc-padding{
	padding-top: 25px;
}