/* wrapper contains contact.html page */
h1 h2 h6{font-family: "Georgia","Times",Times New Roman,serif;}
.Wrapper{
	position:relative;
}

/*header code*/
.header{
	width: 960px;
	height: 30px;
	margin: 0 auto;
	background-color: #ffffff;
	border-color: #cccccc;
}

h1{
	font-size: 20px;
}

.logo{
	float:left;
	width: 160px;
	padding: 20px;
	margin-left: 75px;
	margin-right: 175px;
	background-color: #4aaaa5;
	min-height: 40px;
}

li{
	text-decoration: none;
	display:inline-block;
	padding: 30px;
}

.navarea{
	/*background:red;*/
	float: right;
	/*font-family:*/
	/*width:735px;*/
	min-height: 40px;
}

.clearfloat{
	clear:both;
}

/*entire content area*/

.entirecontentarea{
	width: 960px;
	margin: 0 auto;
	background-image: url("../images/sayagata.png");
	font-color: #777777;
	overflow: auto;
}

/*inner box*/
.mainsectioncontent{
	width:500px;
	float: left;
	background: #ffffff;
	margin-left: 75px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px;
		
}

.mscheader{
	padding-top: 20px;
	padding-bottom: 30px;
	border-bottom: solid;
}

.contentarea{
	padding:15px;
	
}
.sidebar
{
	width:270px;
	margin-top: 20px;
	margin-left: 50px;
	margin-bottom: 20px;
	padding-bottom:20px;
	background: #ffffff;
	float:left;
}

.image{
	float:left;
	margin-left: 20px;

}
	

.sidebarheader{
	padding:20px;
}

.sidebarcontent{

}


footer{
	height : 50px;
	width:960px;
	margin: 0 auto;
	background-color: #666666;
	border: 5px #4aaaa5;
}