 h1 h2 h6{
	font-family: "Georgia","Times",Times New Roman,serif;
}
body{
	font:#777777;
	/*background-image: url(../images/sayagata.*/png);
}
.Wrapper{
	position:relative;
}
/* wrapper contains index.html page */
/*allows for positioning*/

.header{
	width: 960px;
	height: 30px;
	margin: 0 auto;
	background: #ffffff;
	border-color: #cccccc;
}

.color{
		color:white;
			}

.tcolor{
	color:#4aaaa5;
}

h1{

	font-size: 24px;
	font-weight: bold;
}

h2{
	font-size: 20px;	
}

.logo{
	float:left;
	width: 220px;
	padding: 20px;
	margin-left: 75px;
	margin-right: 175px;
	background: #4aaaa5;
	height: 40px;
	}

li{
	text-decoration: none;
	display:inline-block;
	padding: 30;
	color:#777777;
}

.navarea
{
	/*background:red;*/
	float: right;
	/*font-family:*/
	/*width:735px;*/
	min-height: 40px;

}
	
.entirecontentarea
{
	background-image: url("../images/sayagata.png");
	width: 960px;
	margin: 0 auto;
	/*background-color:#adacao;*/
	font:#777777;
	overflow: auto;

}


.clearfloat
{
	clear:both;
}

/*inner box*/
.main-section-content
{
	width:500px;
	float: left;
	background: #ffffff;
	margin-left: 75px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px;
	/*border-color: #dddddd;*/
	border-color: green;
		
}

.mscheader{
	padding-top: 20px;
	padding-bottom: 20px;
	border-color:grey;
	border-bottom: solid;
	
}

.contentarea{
	/*background:blue;*/
	
}

.image{
	float:left;
	margin: 20px;

}


.sidebar
{
	width:270px;
	margin-top: 20px;
	margin-left: 50px;
	background:#ffffff;
	float:left;
}
.sidebarheader
{
	padding:20;
}



footer{
	height : 100px;
	width:960px;
	margin: 0 auto;
	background-color: #666666;
	border-top: 4px solid #4aaaa5;
}

/*using media query to accommodate different screen sizes*/

@media screen and (max-width:768px) {
	.header{
		width:768px;

		}
	.logo{
		margin-right:75px;
		margin-left:60px; 
	}

	.entirecontentarea
	{
		width:768px;
	}

	.main-section-content
	{
		width:675px;
		height: 325px;
		float: none;
		background: #ffffff;
		margin-left: 30px;
		margin-top: 20px;
		margin-bottom: 10px;
		padding: 10px;
		border-color: green;

	}

	span{
		display: block;
		margin-top: 5px;
	}

	.sidebar
	{
		float:none;
		width:675px;  
		height:125px;
		margin-left: 30px;
		padding: 10px;
		margin-bottom: 20px;
	}

	.sidebarheader
	{
		padding:5;
	}
	
	footer
	{
	height : 70px;
	width:768px;
	margin: 0 auto;
	
		}
}		


@media screen and (max-width:640px) {
	
	.header{
		position: static;
		width: 640px;
		height:50px;
			}

	.logo{
		margin: 0 auto;
		width: 640px;
		height:40px;
		padding:20px;

	}
	li{
		padding-left:100;
		padding-top:10;
		/*color:#777777;*/
	}
	.h1-padding{
		padding-left: 180px;
	}

	.color{
		color:white;

	}
	.navarea{
		float:none;
		width: 640px;
		height: 15px;
		background:#ffffff;
			}
	
	

	.entirecontentarea{
		background-image: url("../images/sayagata.png");
		width: 640px;
		margin-top:30;
		/*overflow: auto;*/
	}

	.main-section-content{
		float:none;
		background: #ffffff;
		width:500px;
		height: 550px;
		margin-left: 50px;
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 15px;
					
	}

	.image{
		float:none;
		/*text-justify:left;*/
	}

	
	
	

	

	.sidebar{
		float:none;
		width:500px;
		margin-top: 10px;
		margin-left: 50px;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 20px;

	}

	footer{
	height : 80px;
	width:640px;
	margin: 0 auto;
	
		}
}

